/* navLayout.css */

.nav-layout {
    background-image: url("../images/background.png");
    background-position: center center;
    color: #fff; /* Text color for the content */
    height: 100vh; /* 100% of the viewport height */
    overflow: auto; /* Allow scrolling if content exceeds viewport */
    /* Add any other background-related styles here */
  }
  