/* navLayout.css */

.nav-layout {
    background-image: url("../images/background.png");
    background-position: center ;
    color: #fff; /* Text color for the content */
    height: 100vh; /* 100% of the viewport height */
    
  }
  